{% csrf_token %}
<div class='sidebar-menu'>
    <a href="/notifications/">
        Notifications <span class='badge'>{{notifications|length}}</span>
    </a>
</div>
{% if request.user.is_authenticated %}
<a href="/logout">Logout</a>
{% endif %}
<h1>Hello <a href="/profile/{{request.user.id}}">{{request.user}}</a>!</h1>
<button><a href="/add_tweet/">New Tweet</a></button>
{% for tweet in tweets %}
    <p><a href='/tweet_detail/{{tweet.id}}'>{{tweet.tweet}}</a>: <a href="/profile/{{tweet.author.id}}">{{tweet.author.username}}</a></p>
{% endfor %}